.zombie1 {
  animation-name: zombie1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes zombie1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}

.zombie2 {
  animation-name: zombie2;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes zombie2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}

.zombie3 {
  animation-name: zombie3;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.zombie4 {
  animation-name: zombie4;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.zombie5 {
  animation-name: zombie5;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.brain1 {
  animation-name: brain1;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.brain2 {
  animation-name: brain1;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bird {
  animation-name: bird;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes zombie3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}


@keyframes zombie4 {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) translateX(105vw) rotate(30deg);
  }
}

@keyframes zombie5 {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  100% {
    transform: translateY(129vh) translateX(90vw) rotate(30deg);
  }
}


@keyframes brain1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}


.zoom_out {
    animation-name: zoom_out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes zoom_out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.zoom_in {
    animation-name: zoom_in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes zoom_in {
    0% {
        transform: translate(0,0) scale(1) rotate(0deg);
    }    
    90% {
        transform: translate(100%,0) scale(15) rotate(90deg);
        opacity: 1;
    }
    100% {
        transform: translate(100%,0) scale(15) rotate(90deg);
        opacity: 0;
    }


    
}

.paused {
    animation-play-state: paused;
}

.active_heart {
   filter: drop-shadow(0 0 2px rgb(12, 233, 5));
}

.broken_heart {
    filter: grayscale(75%) blur(.5px);
}
