.zombie1 {
  animation-name: zombie1;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes zombie1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}

.zombie2 {
  animation-name: zombie1;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes zombie2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}

.zombie3 {
  animation-name: zombie1;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes zombie3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}
