body {
  margin: 0;
}

img {
  width: 100%;
}

h2 {
  font-size: 4em;
  margin: 0;
}

p {
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0 1.5em;
}

#screen {
  display: grid;
  grid-template: 100% / 100%;
  aspect-ratio: 16/9;
}

#game {
  grid-template: 100% / 100%;
  display: grid;
  grid-area: 1 / 1;
  overflow: hidden;
}

#game_background {
  background-image: green;
  grid-area: 1 / 1;
  background-size: cover;
}

#game_elements {
  grid-area: 1 /1;
  overflow: hidden;
  position: relative;
}

#level_complete {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
  color: #ffffff;
  background-image: url(billeder/Udklip-removebg-preview.png);
  background-size: cover;
  aspect-ratio: 16 / 9;
}

#start {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
}

#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  color: #000000;
  background-image: url(billeder/UdklipsaSA-removebg-preview.png);
  background-size: cover;
}

/* #game_foreground {
  width: 89%;
  height: 100%;
  position: absolute;
  top: 30%;
  left: 0%;
  background-image: url();
  background-size: cover;
  margin: 0;
  z-index: 900;
} */

#zombie1 {
  width: 7%;
  position: absolute;
  top: 60%;
  left: -10%;
  z-index: 800;
}

#zombie2 {
  width: 6%;
  position: absolute;
  top: 59%;
  left: -10%;
  z-index: 800;
}

#zombie3 {
  width: 7%;
  position: absolute;
  top: 60%;
  left: -10%;
  z-index: 800;
}

#zombie4 {
  width: 15%;
  position: absolute;
  top: -30%;
  left: -12%;
  z-index: 800;
}

#zombie5 {
  width: 15%;
  position: absolute;
  top: -20%;
  left: 30%;
  z-index: 10;
}

#brain {
  width: 30%;
  position: absolute;
  top: 46%;
  left: 76%;
  z-index: 800;
}

#brain1 {
  width: 15%;
  position: absolute;
  top: 55%;
  left: 25%;
  z-index: 10;
}

#brain2 {
  width: 15%;
  position: absolute;
  top: 55%;
  left: 40%;
  z-index: 10;
}

#bird {
  width: 20%;
  position: absolute;
  top: 22.8%;
  left: 14%;
  z-index: 10;
}

#heart1 {
  width: 5%;
  position: absolute;
  top: 3%;
  left: 91%;
  z-index: 10;
}

#heart2 {
  width: 5%;
  position: absolute;
  top: 3%;
  left: 79%;
  z-index: 10;
}

#heart3 {
  width: 5%;
  position: absolute;
  top: 3%;
  left: 85%;
  z-index: 10;
}

.position1 {
  left: 10vw;
}

.position2 {
  left: 40vw;
}

.position3 {
  left: 70vw;
}

.position4 {
  left: 30vw;
}

.position5 {
  left: 55vw;
}

.active_heart {
  filter: drop-shadow(px green);
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}

/* #game_ui {
  position: absolute;
  top: 1vw;
  right: 80vw;
  color: rgb(0, 0, 0);
  font-size: 3em;
  pointer-events: none;
} */

#game_ui {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 220px; */
  grid-template-rows: 60px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: -9%;
}

#score_board,
#timer {
  font-size: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pixel Takhisis";
  color: #000000;
}

#coin_image {
  width: 15%;
}

#time_board {
  display: flex;
  width: 20%;
  top: 40%;
}

#coin_count {
  display: grid;
  right: 50px;
  top: 10%;
  color: #000000;
}

.hidden,
#game_over.hidden,
#level_complete.hidden,
#game.hidden,
#start.hidden {
  display: none;
}

button {
  padding: 0.5em 1em;
  font-size: 2em;
  margin: auto;
  background-color: #ffad01;
  color: #fff4bf;
  border: 10px solid #ffc72e;
  cursor: pointer;
  border-radius: 10px;
}
