body {
  margin: 0;
}

img {
  width: 100%;
}

h2 {
  font-size: 4em;
  margin: 0;
}

p {
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0 1.5em;
}

#screen {
  display: grid;
  grid-template: 100% / 100%;
  aspect-ratio: 16/9;
}

#game {
  grid-template: 100% / 100%;
  display: grid;
  grid-area: 1 / 1;
  overflow: hidden;
}

#game_background {
  background-image: green;
  grid-area: 1 / 1;
  background-size: cover;
}

#game_elements {
  grid-area: 1 /1;
  overflow: hidden;
  position: relative;
}

#level_complete, #start {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #031002 0%, #09793b 100%);
  color: #ffffff;
}

#start {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  background-image: url(billeder/zombie-apocalypse_1048-8858.avif);
  background-size: cover;
}

#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  color: #000000;
  background-image: url(billeder/UdklipsaSA-removebg-preview.png);
  background-size: cover;
}

#zombie1 {
  width: 7%;
  position: absolute;
  top: 60%;
  left: -10%;
  z-index: 800;
}

#zombie2 {
  width: 6%;
  position: absolute;
  top: 59%;
  left: -10%;
  z-index: 800;
}

#zombie3 {
  width: 7%;
  position: absolute;
  top: 60%;
  left: -10%;
  z-index: 800;
}

#zombie4 {
  width: 15%;
  position: absolute;
  top: -30%;
  left: -12%;
  z-index: 800;
}

#zombie5 {
  width: 15%;
  position: absolute;
  top: -20%;
  left: 30%;
  z-index: 10;
}

#brain {
  width: 30%;
  position: absolute;
  top: 46%;
  left: 76%;
  z-index: 800;
}

#brain1 {
  width: 15%;
  position: absolute;
  top: 55%;
  left: 0%;
  z-index: 10;
}

#brain2 {
  width: 15%;
  position: absolute;
  top: 55%;
  left: -10%;
  z-index: 999;
}

#bird {
  width: 20%;
  position: absolute;
  top: 22.8%;
  left: 14%;
  z-index: 10;
}

#heart1 {
  width: 5%;
  position: absolute;
  top: 3%;
  left: 91%;
  z-index: 10;
}

#heart2 {
  width: 5%;
  position: absolute;
  top: 3%;
  left: 79%;
  z-index: 10;
}

#heart3 {
  width: 5%;
  position: absolute;
  top: 3%;
  left: 85%;
  z-index: 10;
}

.position1 {
  left: -80vw;
}

.position2 {
  left: -70vw;
}

.position3 {
  left: -70vw;
}

.position4 {
  left: -60vw;
}

.position5 {
  left: -20vw;
}

.active_heart {
  filter: drop-shadow(px green);
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}

/* #game_ui {
  position: absolute;
  top: 1vw;
  right: 80vw;
  color: rgb(0, 0, 0);
  font-size: 3em;
  pointer-events: none;
} */

#game_ui {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: -9%;
}

#score_board {
  font-size: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pixel Takhisis";
  color: #000000;
}


#coin_image {
  width: 15%;
}

#time_board {
  display: flex;
  width: 20%;
  top: 40%;
}

#coin_count {
  display: grid;
  right: 50px;
  top: 10%;
  color: #000000;
}

.hidden,
#game_over.hidden,
#level_complete.hidden,
#game.hidden,
#start.hidden {
  display: none;
}

button {
  padding: 0.5em 1em;
  font-size: 2em;
  margin: auto;
  background-color: #00ff55;
  color: #ffffff;
  border: 10px solid #022397;
  cursor: pointer;
  border-radius: 10px;
}


#time_container {
  position: absolute;
  width: 3%;
  aspect-ratio: 6/30;
  border: 2px solid black;
  background-color: 208, 204, 204, 0.383;
  top: 20%;
  left: 100%;
}
#time_sprite {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: limegreen;
  transform-origin: 50% 100%;
}