body {
  margin: 0;
}

img {
  width: 100%;
}

#screen {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
#game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  /* udkommenteret da der  ikke er et billede */
  /* background-image: url(svg/start.svg);
  background-size: cover; */
}
#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  /* udkommenteret da der  ikke er et billede */
  /* background-image: url(svg/game_over.svg);
  background-size: cover; */
}
#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  /* udkommenteret da der  ikke er et billede */
  /* background-image: url(svg/level_complete.svg);
  background-size: cover; */
}
#game_background {
  background-image: url(cemetery-day-landscape_107791-342.avif);
  background-size: cover;
  grid-area: 1 / 1;
  margin: 0;
}
#game_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#game_foreground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url();
  background-size: cover;
  margin: 0;
}
#game_ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

/* spil elementer */

#zombie1 {
  width: 7%;
  position: absolute;
  top: 60%;
  left: 1%;
  z-index: 10;
}

#zombie2 {
  width: 6%;
  position: absolute;
  top: 59%;
  left: 30%;
}

#zombie3 {
  width: 7%;
  position: absolute;
  top: 60%;
  left: 20%;
}

#brain {
  width: 30%;
  position: absolute;
  top: 46%;
  left: 72%;
  z-index: 0;
}

#background {
  width: 100%;
  height: 100%;
  background-image: url(cemetery-day-landscape_107791-342.avif);
  background-size: cover;
}

#fluesvamp_container {
  width: 17%;
  position: absolute;
  top: 44%;
  left: 48%;
}

#fluesvamp_sprite {
  width: 100%;
  height: 100%;
}

#stinksvamp_container {
  width: 20%;
  position: absolute;
  top: 18%;
  left: 18%;
}

#stinksvamp_sprite {
  width: 100%;
  height: 100%;
}

/* ui-elementer */
#time_board {
  width: 6%;
  position: absolute;
  top: 4%;
  left: 3.5%;
}
#score_board {
  width: 23%;
  position: absolute;
  top: 69%;
  left: 11%;
}
#health_board {
  width: 5%;
  position: absolute;
  top: 3%;
  left: 91%;
}

#health_board2 {
  width: 5%;
  position: absolute;
  top: 3%;
  left: 79%;
}

#health_board3 {
  width: 5%;
  position: absolute;
  top: 3%;
  left: 85%;
}
